<div class="left_block filter_ajax filter_visible">
    <div class="menu_top_block catalog_block">
        <ul class="menu dropdown">
            {%for catalog_name in catalog%}
                <li class="full   m_line v_hover">
                    <a class="icons_fa " href="{%url 'catalog_details' category=catalog_name.name%}">
                        <span class="name">{{catalog_name.alter_name}}</span>
                        <div class="toggle_block"></div>
                        <div class="clearfix"></div>
                    </a>
                </li>
            {%endfor%}
        </ul>
    </div>




    <div class="banner SCALE SIDE  " id="bx_3485106786_114738">
        <a href="https://nippononline.ru/catalog/yaponskie_nozhi/">
            <img data-lazyload="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/upload/iblock/2c3/2c3a32d101071233d12f3ca17456c770.jpg" alt="Японские ножи " title="Японские ножи " class="lazyload img-responsive">
        </a>
    </div>

    <div class="subscribe_wrap">
        <div id="bxdynamic_IzufVt_start" style="display:none"></div>
        <div class="subscribe-form s_Arsw7O">
            <div class="wrap_bg">
                <div class="top_blocks">
                    <div class="text">
                        <div class="title">Будьте всегда в курсе!</div>
                        <div class="more">Узнавайте о скидках и акциях первым</div>
                    </div>
                </div>
                <form action="https://nippononline.ru/personal/subscribe/" class="sform box-sizing">
                    <label for="sf_RUB_ID_1Arsw7O" class="hidden">
                        <input type="checkbox" name="sf_RUB_ID[]" id="sf_RUB_ID_1Arsw7O" value="1" checked=""> Новости магазина             
                    </label>
                    <div class="email_wrap">
                        <input type="email" title="Ваш e-mail" class="email_input" name="sf_EMAIL" maxlength="100" required="" size="20" value="" placeholder="Ваш e-mail">
                        <input type="submit" name="OK" class="btn btn-default send_btn" value="Подписаться">
                    </div>
                </form>
            </div>
        </div>
        <div id="bxdynamic_IzufVt_end" style="display:none"></div>
    </div>
    <br>
    <div class="news_blocks front">
            <div class="top_block">
                <div class="title_block">Новости</div>
                <a href="https://nippononline.ru/company/news/">Все новости</a>
                <div class="clearfix"></div>
            </div>
            <div class="info_block">
                <div class="news_items">
                    <div id="bx_3099439860_115622" class="item box-sizing dl">
                        <div class="info">
                            <div class="date">6 Сентября 2019</div>
                            <a class="name dark_link" href="https://nippononline.ru/company/news/nachinat_sotrudnichestvo_yapontsy_gotovy_cherez_proverennykh_lyudey_/">«Начинать сотрудничество японцы готовы через проверенных людей» </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="bx_3099439860_115589" class="item box-sizing dl">
                        <div class="info">
                            <div class="date">10 Июля 2019</div>
                            <a class="name dark_link" href="https://nippononline.ru/company/news/j_fest_summer_2019/">J-Fest  Summer 2019</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="bx_3099439860_115570" class="item box-sizing dl">
                        <div class="info">
                            <div class="date">18 Июня 2019</div>
                            <a class="name dark_link" href="https://nippononline.ru/company/news/eksklyuzivnoe_meropriyatie/">Эксклюзивное мероприятие</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
    </div>
    <div class="news_blocks front">
            <div class="top_block">
                <div class="title_block">Статьи</div>
                <a href="https://nippononline.ru/blog/">Все статьи</a>
                <div class="clearfix"></div>
            </div>
            <div class="info_block">
                <div class="news_items">
                    <div id="bx_565502798_116815" class="item box-sizing dl">
                        <div class="info">
                            <a class="name dark_link" href="https://nippononline.ru/blog/obzory-tovarov/vitamin-s-i-antioksidantnaya-zashchita/">Витамин С и Антиоксидантная защита</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="bx_565502798_116714" class="item box-sizing dl">
                        <div class="info">
                            <a class="name dark_link" href="https://nippononline.ru/blog/obzory-tovarov/yaponskie-moti-i-kak-ikh-prigotovit/">Японские моти и как их приготовить?</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="bx_565502798_115281" class="item box-sizing dl">
                        <div class="info">
                            <a class="name dark_link" href="https://nippononline.ru/blog/obzory-tovarov/luchshiy-yaponskiy-ris/">Лучший Японский рис</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
    </div>
</div>