{%load story_tag contact_tags news_tag%}
<div class="left_block filter_ajax filter_visible">
    <div class="menu_top_block catalog_block">
        <ul class="menu dropdown">
            {%for catalog_name in catalog%}
                <li class="full   m_line v_hover">
                    <a class="icons_fa " href="{%url 'catalog_details' category=catalog_name.name%}">
                        <span class="name">{{catalog_name.alter_name}}</span>
                        <div class="toggle_block"></div>
                        <div class="clearfix"></div>
                    </a>
                </li>
            {%endfor%}
        </ul>
    </div>
    {%include 'sidebar.html'%}
</div>