<div class="col-m-20 col-lg-3 col-md-4 col-sm-6 item item_block" data-col="3">
    <div class="catalog_item_wrapp" style="height: 380px;">
        <div class="basket_props_block" id="bx_basket_div_19811_HIT" style="display: none;">
        </div>

        <div class="catalog_item item_wrap main_item_wrapper" id="bx_3966226736_19811_HIT">
            <div class="inner_wrap">
                <div class="image_wrapper_block">
                    <div class="stickers">
                    </div>
                    <div class="like_icons">
                        <div class="wish_item_button">
                            <span title="Отложить" class="wish_item to" data-item="19811" data-iblock="2"><i></i></span>
                            <span title="В отложенных" class="wish_item in added" style="display: none;" data-item="19811" data-iblock="2"><i></i></span>
                        </div>
                        <div class="compare_item_button">
                            <span title="Сравнить" class="compare_item to" data-iblock="2" data-item="19811"><i></i></span>
                            <span title="В сравнении" class="compare_item in added" style="display: none;" data-iblock="2" data-item="19811"><i></i></span>
                        </div>
                    </div>
                    <a href="{%url 'product_detail' category=product.category.name index=product.id%}" class="thumb shine">
                        <img data-lazyload="" class="lazyload noborder" src="/static/img/{{product.get_image_path}}" data-src="/static/img/{{product.get_image_path}}" alt="800001" title="800001">
                    </a>
                    <div class="fast_view_block" data-event="jqm" data-param-form_id="fast_view" data-param-iblock_id="2" data-param-id="19811" data-param-item_href="%2Fcatalog%2Fsoevye_boby%2Fzelyenye_soevye_boby_ajinomoto_edamame_0_5kg%2F" data-name="fast_view">Быстрый просмотр</div>
                </div>
                <div class="item_info TYPE_1" style="height: 158px;">
                    <div class="item-title" style="height: 100px;">
                        <a href="{%url 'product_detail' category=product.category.name index=product.id%}" class="dark_link">
                            <span>{{product.name}}</span>
                        </a>
                    </div>
                    <div class="sa_block">
                        <div class="item-stock">
                            <span class="icon stock"></span>
                            <span class="value">{{product.count}}</span>
                        </div>
                        <div class="article_block">
                        </div>
                    </div>
                    <div class="cost prices clearfix">
                        <div class="price_matrix_block">
                            <div class="price_matrix_wrapper ">
                                <div class="price" data-currency="RUB" data-value="{{product.prict}}">
                                    <span>
                                        <span class="values_wrapper">
                                            <span class="price_value">{{product.price}}</span>
                                            <span class="price_currency"> руб.</span>
                                        </span>
                                        <span class="price_measure">/шт</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_button  inner_content js_offers__19811_HIT">
                    <div class="sku_props">
                    </div>
                    <div class="counter_wrapp">
                        <div class="button_block">
                            <!--noindex-->
                            <a href="{%url 'product_detail' category=product.category.name index=product.id%}" class="btn btn-default basket read_more">Подробнее</a>
                            <!--/noindex-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>