{%extends 'base.html'%}
{%block content%}
<div class="top_inner_block_wrapper maxwidth-theme">
	<div class="page-top-wrapper grey v3">
		<section class="page-top maxwidth-theme center">
			<div class="page-top-main">
				<h1 id="pagetitle">Восстановление пароля</h1>
			</div>
			<div id="navigation">
				<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
					<div class="bx-breadcrumb-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
						<a href="https://nippononline.ru/auth/" title="Авторизация" itemprop="item">
							<span itemprop="name">Авторизация</span>
							<meta itemprop="position" content="1">
						</a>
					</div>
					<span class="separator">-</span>
					<span class="" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
						<link href="https://nippononline.ru/auth/forgot-password/" itemprop="item">
						<span>
							<span itemprop="name">Восстановление пароля</span>
							<meta itemprop="position" content="2">
						</span>
					</span>
				</div>			
			</div>
		</section>
	</div>
</div>					<!--end-title_content-->

<div class="wrapper_inner wide_page">

	<div class="middle ">
		<div class="container">
			<div class="maxwidth-theme">
				<!--'start_frame_cache_5XSQJF'--><style>
				.left-menu-md, body .container.cabinte-page .maxwidth-theme .left-menu-md, .right-menu-md, body .container.cabinte-page .maxwidth-theme .right-menu-md{display:none !important;}
				.content-md{width:100%;}
				</style>
				<div class="border_block">
					<div class="module-form-block-wr lk-page">
						<div class="form-block">
							<form name="bform" method="post" target="_top" class="bf" action="" novalidate="novalidate">
								{%csrf_token%}
								<input type="hidden" name="backurl" value="/auth/forgot-password/?forgot-password=yes&amp;backurl=%2F%3Flogin%3Dyes">					
								<input type="hidden" name="AUTH_FORM" value="Y">
								<input type="hidden" name="TYPE" value="SEND_PWD">
								Введите логин или E-Mail.<br>Контрольная строка для смены пароля, <br>а также ваши регистрационные данные, будут высланы вам по E-Mail.					<br><br>
								<div class="form-control">
									<label>E-Mail: 
										<span class="star">*</span>
									</label>
									{{ form.email }}
								</div>
								<div class="but-r">
									<input class="btn btn-default vbig_btn wides" type="submit" name="send_account_info" value="Восстановить">
								</div>
							</form>
						</div>
					</div>
				</div>
				<!--'end_frame_cache_5XSQJF'-->	
			</div> 																
		</div> 																				
	</div> 																			
</div> 
{%endblock%}