{%extends 'base.html'%}
{%block content%}
<div class="top_inner_block_wrapper maxwidth-theme">
	<div class="page-top-wrapper grey v3">
		<section class="page-top maxwidth-theme center">
			<div class="page-top-main">
				<h1 id="pagetitle">Смена пароля</h1>
			</div>
			<div id="navigation">
				<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList"><div class="bx-breadcrumb-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="https://nippononline.ru/auth/" title="Авторизация" itemprop="item"><span itemprop="name">Авторизация</span><meta itemprop="position" content="1"></a></div><span class="separator">-</span><span class="" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><link href="https://nippononline.ru/auth/change-password/" itemprop="item"><span><span itemprop="name">Смена пароля</span><meta itemprop="position" content="2"></span></span></div>			</div>
			</section>
		</div>
	</div>					<!--end-title_content-->

	<div class="wrapper_inner wide_page">

		<div class="middle ">
			<div class="container">
				<div class="maxwidth-theme">
					<!--'start_frame_cache_5XSQJF'-->
					<style>
					.left-menu-md, body .container.cabinte-page .maxwidth-theme .left-menu-md, .right-menu-md, body .container.cabinte-page .maxwidth-theme .right-menu-md{display:none !important;}
					.content-md{width:100%;}
					</style>
					<div class="border_block">
						<div class="module-form-block-wr lk-page">
							{% if validlink %}
							<div class="form-block">
								<form method="post" action="" name="bform" class="bf" novalidate="novalidate">{%csrf_token%}
									<input type="hidden" name="backurl" value="/auth/change-password/?lang=ru&amp;USER_CHECKWORD=23e6adb20b6d2af0955fa155e1b9e9c0&amp;USER_LOGIN=alexsashkabro%40gmail.com">					<input type="hidden" name="AUTH_FORM" value="Y">
									<input type="hidden" name="TYPE" value="CHANGE_PWD">
									<input type="hidden" name="USER_CHECKWORD" maxlength="50" value="23e6adb20b6d2af0955fa155e1b9e9c0">
									<div class="form-control">
										<div class="label_block">
											<label>Новый пароль: 
												<span class="star">*</span>
											</label>
											{{ form.new_password1 }}
										</div>
										<div class="text_block">
											Длина пароля не менее 6 символов						
										</div>
									</div>
									<div class="form-control">
										<label>Подтверждение пароля: 
											<span class="star">*</span>
										</label>
										{{ form.new_password2 }}
									</div>
									<div class="but-r">
										<button class="btn btn-default" type="submit" name="change_pwd" value="Изменить пароль">
											<span>Сменить пароль</span>
										</button>
									</div>
								</form>
							</div>

							{%endif%}
						</div>
					</div><!--'end_frame_cache_5XSQJF'-->	
				</div> 																
			</div> 																				
		</div> 																			
	</div> 	
{%endblock%}