{%extends 'base.html'%}
{%load static%}
{%block title%}
Условия доставки
{%endblock%}
{%block content%}
<div class="wraps hover_shine" id="content">
	<!--title_content-->
	<div class="top_inner_block_wrapper maxwidth-theme">
		<div class="page-top-wrapper grey v3">
			<section class="page-top maxwidth-theme ">
				<div class="page-top-main">
					<h1 id="pagetitle">Условия доставки</h1>
				</div>
				<div id="navigation">
					<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
						<div class="bx-breadcrumb-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope=""
							itemtype="http://schema.org/ListItem">
							<a href="/help/" title="Помощь" itemprop="item">
								<span itemprop="name">Помощь</span>
								<meta itemprop="position" content="1">
							</a>
						</div>
						<span class="separator">-</span>
						<span class="" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
							<link href="/help/delivery/" itemprop="item">
							<span>
								<span itemprop="name">Условия доставки</span>
								<meta itemprop="position" content="2">
							</span>
						</span>
					</div>
				</div>
			</section>
		</div>
	</div>
	<!--end-title_content-->

	<div class="wrapper_inner ">

		<div class="right_block  wide_">
			<div class="middle ">
				<div class="container">
					<h2></h2>
					<h4></h4>
					<h4 style="text-align: center;">Заказы по телефону принимаются <b style="color: #555555;">с
							понедельника по пятницу&nbsp;</b><b style="color: #555555;">с 9:00 до 18:00</b></h4>
					<p>
					</p>
					<h2 style="text-align: center;"></h2>
					<p style="text-align: center;">
					</p>
					<p style="text-align: center;">
						<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;">Менеджер
							интернет - магазина подтверждает заказы </span><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;">с понедельника
							по пятницу с 9:00 до 18:00.&nbsp;</span>
					</p>
					<p style="text-align: center;">
					</p>
					<p style="text-align: center;">
					</p>
					<p style="text-align: center;">
					</p>
					<p style="text-align: center;">
					</p>
					<p style="text-align: center;">
						<b><span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;">В
								регионы</span></b><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> заказы
							отправляются при </span><b><u><span
									style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;">100%
									предоплате</span></u></b><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;">.&nbsp;</span>
					</p>
					<p style="text-align: center;">
					</p>
					<p style="text-align: center;">
					</p>
					<p style="text-align: center;">
					</p>
					<p style="text-align: center;">
						<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;">Самовывоз
							осуществляется с магазина "НИППОН", расположенного по адресу&nbsp;</span>
					</p>
					<p style="text-align: center;">
						<b><span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 18pt;"><u>г.
									Москва, ул.Кравченко д.4 к.1</u></span></b><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"><b><span
									style="font-size: 18pt;"><u>.</u></span></b><u>&nbsp;</u></span>
					</p>
					<p style="text-align: center;">
						<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;">О возможности
							самовывоза с других магазинов уточняйте у операторов.</span>
					</p>
					<p style="text-align: center;">
					</p>
					<p style="text-align: center;">
					</p>
					<p style="text-align: center;">
					</p>
					<h2 style="text-align: center;">
						Доставка: </h2>
					<p style="text-align: center;">
					</p>
					<p style="text-align: center;">
					</p>
					<p style="text-align: center;">
					</p>
					<p style="text-align: center;">
						<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;">При заказе до
							14.00 доставка по г.Москва осуществляется в течении 3-4 часов.</span><br>
						<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> </span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> </span>
					<p style="text-align: center;">
						<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> </span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> </span>
					<p style="text-align: center;">
						<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> </span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> </span>
					<p style="text-align: center;">
						<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> </span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> </span>
					<p style="text-align: center;">
						<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;">
							Стоимость доставки </span><b><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;">по г. Москва
								в пределах МКАД</span></b><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> —
						</span><u><span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;">300
								рублей.</span></u><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> </span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> </span>
					<p style="text-align: center;">
						<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> </span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> </span>
					<p style="text-align: center;">
						<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> </span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> </span>
					<p style="text-align: center;">
						<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> </span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> </span>
					<p style="text-align: center;">
						<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;">
							Стоимость и сроки доставки в Московскую область </span><b><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;">и
								регионы</span></b><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;"> рассчитываются
							индивидуально, </span><u><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;">согласно
								тарифам транспортных компаний.</span></u>
					</p>
					<p style="text-align: center;">
					</p>
					<p style="text-align: center;">
						<br>
					</p>
					<p style="text-align: center;">
					</p>
					<h2 style="text-align: center;">
						Оплата: </h2>
					<p style="text-align: center;">
					</p>
					<p style="text-align: center;">
						<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt;">Оплата
							принимается наличными курьеру, либо любым безналичным способом.</span>
					</p>
					<h5 style="text-align: center;">Сайт <span style="color: #ff0000;">автоматически</span> выбирает
						Ваше местоположение и определяет возможные способы доставки и оплаты: </h5>
					<p style="text-align: center;">
						<img data-lazyload="" class=" lazyloaded" width="819" alt="3.jpg"
							src="{% static 'img/pages/76d1a14ea30d1d8419a030d5b4f6637d.jpg'%}" height="488"
							title="3.jpg">
					</p>
					<h5 style="text-align: center;">Если Вам нужно <span style="color: #ff0000;">поменять</span> город
						доставки, можно самостоятельно изменить город в строке "Местоположение"</h5>
					<h5 style="text-align: center;"></h5>
					<h5 style="text-align: center;">Далее - выберите <span style="color: #ff0000;">желаемый способ
							доставки</span>:</h5>
					<h5 style="text-align: center;"></h5>
					<h5 style="text-align: center;">Для Москвы - самовывоз из магазина или курьерская доставка</h5>
					<p style="text-align: center;">
						<img data-lazyload="" class=" lazyloaded" width="699" alt="4.jpg"
							src="{% static 'img/pages//79283fb64e17818dc8b70c8799624854.jpg'%}" height="327"
							title="4.jpg"><br>
					</p>
					<h5 style="text-align: center;">Для регионов - почта России ЕМS (<span
							style="color: #ff0000;">автоматически</span> рассчитывает сумму доставки)</h5>
					<p style="text-align: center;">
						<img data-lazyload="" class="lazyload" width="679" alt="11.jpg"
							src="{% static 'img/pages/58b643c3758bc64ca76608d2f16a7270.jpg'%}" height="277"
							title="11.jpg">
					</p>
					<h5 style="text-align: center;">Для оплаты заказа на сайте, выберите пункт "<span
							style="color: #ff0000;">Оплата онлайн</span>" и нажмите "<span
							style="color: #ff0000;">Далее</span>"</h5>
					<p style="text-align: center;">
						<img data-lazyload="" class="lazyload" width="685" alt="6.jpg"
							src="{% static 'img/pages/b1823382d8dfaf27a4d09ac4055d6e22.jpg'%}]" height="314"
							title="6.jpg"><br>
					</p>
					<h5 style="text-align: center;"><span style="color: #ff0000;">Заполните</span> необходимые <span
							style="color: #ff0000;">поля</span> для оформления заказа :</h5>
					<p style="text-align: center;">
						<img data-lazyload="" class="lazyload" width="717" alt="7.jpg"
							src="{% static 'img/pages/d00bad2317240333f82cab84a68fabce.jpg'%}" height="599"
							title="7.jpg"><br>
					</p>
					<h5 style="text-align: center;">Нажмите "<span style="color: #ff0000;">Далее</span>" ; "<span
							style="color: #ff0000;">Оформить заказ</span>" и "<span
							style="color: #ff0000;">Оплатить</span>" , Вы будете перенаправлены на страницу оплаты.
					</h5>
					<p style="text-align: center;">
						<img data-lazyload="" class="lazyload" width="543" alt="9.jpg"
							src="{% static 'img/pages/a2f4d6eaafe0f26be345e7a738c80fb2.jpg'%}" height="503"
							title="9.jpg">
					</p>
					<h5 style="text-align: center;">Выберите желаемый способ доставки и нажмите "<span
							style="color: #ff0000;">Оплатить</span>"</h5>
					<p style="text-align: center;">
						<img data-lazyload="" class="lazyload" width="477" alt="10.jpg"
							src="{% static 'img/pages//ae89cc18f0b372e4ab0f0c9c11d182c7.jpg'%}" height="560"
							title="10.jpg"><br>
					</p>
					<h5 style="text-align: center;">После успешного оформления заказа, с Вами <span
							style="color: #ff0000;">свяжется менеджер</span> интернет-магазина для подтверждения
						информации, указанной в заказе и согласования самовывоза или доставки заказа.</h5>
					<p style="text-align: center;">
						<br>
					</p>
					<h5 style="text-align: center;"></h5>
					<h5 style="text-align: center;"></h5>
					<br>
				</div>
			</div>
		</div>
		<div class="left_block">
			<ul class="left_menu">
				<li class=" current   item ">
					<a class="icons_fa" href="/help/delivery/">
						<span>Условия доставки</span>
					</a>
				</li>
				<li class="  item ">
					<a class="icons_fa" href="/help/exchange-and-return">
						<span>Обмен и Возврат</span>
					</a>
				</li>
			</ul>
			{%include 'sidebar.html'%}
		</div>
	</div>
</div>

{%endblock%}