{%extends 'base.html'%}
{%block title%}
Обмен и Возврат
{%endblock%}
{%block content%}
<div class="wraps hover_shine" id="content">
	<!--title_content-->
	<div class="top_inner_block_wrapper maxwidth-theme">
		<div class="page-top-wrapper grey v3">
			<section class="page-top maxwidth-theme ">
				<div class="page-top-main">
					<h1 id="pagetitle">Обмен и Возврат</h1>
				</div>
				<div id="navigation">
					<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
						<div class="bx-breadcrumb-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope=""
							itemtype="http://schema.org/ListItem">
							<a href="/help/" title="Помощь" itemprop="item">
								<span itemprop="name">Помощь</span>
								<meta itemprop="position" content="1">
							</a>
						</div>
						<span class="separator">-</span>
						<span class="" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
							<link href="/help/exchange-and-return/" itemprop="item">
							<span>
								<span itemprop="name">Обмен и возврат</span>
								<meta itemprop="position" content="2">
							</span>
						</span>
					</div>
				</div>
			</section>
		</div>
	</div>
	<!--end-title_content-->

	<div class="wrapper_inner ">

		<div class="right_block  wide_">
			<div class="middle ">
				<div class="container">
					<p style="text-align: center;">
						<b><span style="font-size: 16pt;"> </span></b><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;"><b><span
									style="font-size: 16pt;">Дорогие друзья!&nbsp;</span></b></span><b><span
								style="font-size: 16pt;"> </span></b>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">Прежде
							чем совершать покупки в нашем интернет-магазине, <u>настоятельно</u> рекомендуем
							досконально изучить условия доставки, выбранную для покупки позицию, а так же правила и
							условия возврата для данной категории товаров. Если в процессе выбора у вас возникли
							вопросы - вы всегда можете задать их в On-line чат консультанту.</span><span
							style="color: #000000;"> </span>
					</p>
					<span style="color: #000000;"> </span>
					<p align="center">
						<span style="color: #000000;"> </span><b><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt; color: #000000;">Обмен
								и возврат</span></b><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
							Настоящие Правила, устанавливающие порядок продажи товаров, регулируют отношения между
							покупателем и продавцом при продаже товаров через интернет-магазин и оказании в связи с
							такой продажей услуг. Согласно «Постановлению Правительства РФ от 27.09.2007 N 612» "Об
							утверждении Правил продажи товаров дистанционным способом". </span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p align="center">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span><b><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt; color: #000000;">1.
								Возврат продовольственных товаров</span></b><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p>
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">Согласно
							Закону «О защите прав потребителей 07.02.1992 N 2300-1»: Продукты питания надлежащего
							качества, в неповрежденной упаковке и с действующим сроком годности возврату и обмену не
							подлежат. Вы можете отказаться от товара только до его оплаты на кассе точки самовывоза,
							или курьеру. После оплаты продовольственный товар НАДЛЕЖАЩЕГО качества НЕ ПОДЛЕЖИТ
							возврату или обмену. </span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
							Покупатель может вернуть продовольственный товар только НЕНАДЛЕЖАЩЕГО качества. Товар
							ненадлежащего качества – товар, непригодный для использования по назначению, брак, товар с
							недостатком, или не соответствующий описанию на сайте, с истекшим сроком годности, товар
							доставленный клиенту с нарушенной упаковкой. </span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
							Продукты питания ненадлежащего качества принимаются на экспертизу для дальнейшего обмена
							или возврата денежных средств. Для этого покупателю необходимо заполнить заявление на
							возврат товара с указанием данных, удостоверяющих личность, с указанием причины возврата.
							Возврат денег осуществляется на основании письменного заявления покупателя при
							предъявлении документа, удостоверяющего личность. Заявление нужно заполнить в пункте
							самовывоза (розничном магазине), или отправить на почту: </span><a
							href="mailto:info@nippononline.ru"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;"><a
									href="mailto:info@nippononline.ru">info@nippononline.ru</a></span></a><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">.</span>
					</p>
					<p>
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p align="center">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span><b><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt; color: #000000;">2.
								Обмен и возврат непродовольственного товара надлежащего качества</span></b><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p>
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">Согласно
							25 статье того же закона о Защите прав Потребителей: покупатель вправе отказаться от
							заказанного товара надлежащего качества в любое время до момента исполнения заказа, а
							после передачи товара — в течение 7 дней, не считая дня его покупки. </span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
							Возврат Товара надлежащего качества возможен в следующих случаях: </span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
							- Товар не был в употреблении, были сохранены его потребительские свойства, товарный вид,
							упаковка, ярлыки, а также документ, подтверждающий факт и условия покупки указанного
							товара (товарный или кассовый чек, документация к товару). </span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
							- Товар не входил в&nbsp;«Перечень непродовольственных товаров надлежащего качества, не
							подлежащих возврату или обмену на аналогичный товар других размеров, формы, габарита,
							фасона, расцветки или комплектации»&nbsp;(Постановление Правительства РФ от 19.01.1998г №
							55). Полный список приведен в самом конце справочной статьи. </span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
							Покупатель вправе в течение 14 дней с момента передачи ему непродовольственного товара
							надлежащего качества (не считая дня его покупки) обменять его на аналогичный товар у
							продавца, у которого этот товар был куплен, если указанный товар не подошёл по форме,
							габаритам, фасону, расцветке, размеру или комплектации.</span>
					</p>
					<p>
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p align="center">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span><b><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt; color: #000000;">3.
								Обмен и возврат товара ненадлежащего качества</span></b><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p>
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">Непродовольственный
							товар ненадлежащего качества, при условии, что недостаток возник до передачи товара
							покупателю, принимается на экспертизу для дальнейшего обмена или возврата денежных средств
							не позднее, чем через 15 дней с момента покупки. Для этого покупателю необходимо заполнить
							заявление на возврат товара с указанием данных, удостоверяющих личность, и причины
							возврата. </span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
							Возврат денег осуществляется на основании письменного заявления покупателя и только при
							предъявлении документа, удостоверяющего личность. Заявление можно заполнить в точке
							самовывоза по месту покупки или отправить на почту: </span><a
							href="mailto:info@nippononline.ru"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;"><a
									href="mailto:info@nippononline.ru">info@nippononline.ru</a></span></a><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
							Согласно 18 статье того же закона о Защите прав Потребителей: в случае обнаружения
							потребителем недостатков товара и предъявления требования о его замене продавец обязан
							заменить такой товар в течение 7 дней со дня предъявления указанного требования, а при
							необходимости дополнительной проверки качества такого товара - в течение 20 дней со дня
							предъявления требования. Если у продавца в момент предъявления требования отсутствует
							необходимый для замены товар, замена должна быть проведена в течение 1 месяца со дня
							предъявления требования.</span>
					</p>
					<p>
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p align="center">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span><b><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt; color: #000000;">4.
								Возврат денежных средств при отказе покупателя от товара</span></b><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p>
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">При
							отказе покупателя от товара надлежащего качества продавец должен возвратить ему денежную
							сумму, уплаченную покупателем по чеку, за исключением расходов на доставку. В зависимости
							от формы оплаты возвращаемого, существуют различия в процедуре возврата денежных средств.
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
							- Наличный расчет. Возврат денежных средств осуществляется наличными в кассе пункта
							самовывоза продавца не позднее, чем за 10 календарных дней с даты предъявления покупателем
							соответствующего требования и возврата товара. Возврат денежных средств возможен при
							наличии кассового, товарного чеков, паспорта покупателя. </span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
							- Безналичный расчет. Если возвращаемый товар был оплачен банковской картой, возврат
							денежных средств происходит после предъявления покупателем соответствующего требования на
							почту (</span><a href="mailto:info@nippononline.ru"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;"><a
									href="mailto:info@nippononline.ru">info@nippononline.ru</a></span></a><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">)
							и возврата товара. Зачисление денежных средств на банковскую карту покупателя
							осуществляется в те сроки, которые установлены банком, выпустившим карту. </span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
							- Платёжная система электронными деньгами (Яндекс.Деньги, WebMoney). Возврат денежных
							средств осуществляется на электронный счёт покупателя в течение 10 календарных дней после
							предъявления покупателем соответствующего требования на почту (</span><a
							href="mailto:info@nippononline.ru"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;"><a
									href="mailto:info@nippononline.ru">info@nippononline.ru</a></span></a><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">)
							и возврата товара.</span>
					</p>
					<p>
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p align="center">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span><b><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt; color: #000000;">5.
								Обращаем ваше внимание!</span></b><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p style="text-align: justify;">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
							Если покупателю возвращаются деньги за оплаченные ранее наличными деньгами и возвращенные
							товары, продавец выдает наличные деньги после проведения идентификации получателя по
							предъявленному им документу, удостоверяющему личность в соответствии с требованиями
							законодательства Российской Федерации, либо по предъявленным получателем доверенности и
							документу, удостоверяющему личность «п. 2 Указания Банка России от 07.10.2013 N 3073-У»,
							«п. 6.1 Указания Банка России от 11.03.2014 N 3210-У» </span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p align="center">
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span><b><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 16pt; color: #000000;">6.
								Список продукции, не подлежащей обмену и возврату</span></b><span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p>
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
							В соответствии с «Постановлением Правительства РФ от 19.01.1998 N 55» в перечень
							непродовольственных товаров, не подлежащих обмену и возврату, включаются: </span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p>
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p>
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p>
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p>
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<ul>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									предметы личной гигиены (например, зубные щетки, парики, расчески); </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									парфюмерно-косметическая продукция; </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									текстильные товары, отпускаемые по метражу (лента, тесьма); </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									бытовая мебель; </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									растения и животные; </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									ювелирные изделия и изделия из драгоценных металлов и камней; </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									непериодические издания (календари, книги, буклеты); </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									чулочно-носочные изделия; </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									строительно-отделочные изделия, отпускаемые по метражу (линолеум, ковровые
									покрытия); </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									трикотажные изделия (в том числе постельное белье, полотенца); </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									изделия и различные емкости, предназначенные для хранения или транспортировки
									пищевой продукции (например, одноразовая пластиковая посуда); </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									кабельная и другая продукция, отпускаемая по метражу; </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									товары, относящиеся к бытовой химии, а также агрохимикаты и пестициды; </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									автомобили, прицепы и плавательные средства бытового назначения; </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									гражданское оружие и патроны к нему; </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									технически-сложные товары бытового назначения, имеющие гарантийный срок
									(фотоаппаратура, электробытовые приборы, вычислительная техника). </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
					</ul>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p>
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
							Отдельно стоит выделить перечень продукции медицинского назначения, которую также не
							получится вернуть обратно продавцу: </span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<p>
						<span
							style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
						</span>
					</p>
					<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #000000;">
					</span>
					<ul>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									средства для профилактики заболеваний; </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									товары для лечения в домашних условиях; </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									лекарственные препараты; </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									средства по уходу за младенцами; </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									медицинские инструменты и приборы; </span>
							</p>
							<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
						</li>
						<li style="color: #000000;"><span
								style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
							<p>
								<span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
									средства гигиены и т.п.</span>
							</p>
						</li>
					</ul>
					<p>
					</p>
					<br>
				</div>
			</div>
		</div>
		<div class="left_block">
			<ul class="left_menu">
				<li class="  item ">
					<a class="icons_fa" href="help/delivery/">
						<span>Условия доставки</span>
					</a>
				</li>
				<li class=" current   item ">
					<a class="icons_fa" href="/help/exchange-and-return">
						<span>Обмен и Возврат</span>
					</a>
				</li>
			</ul>
			{%include 'sidebar.html'%}
		</div>
	</div>
</div>

{%endblock%}