{%extends 'base.html'%}
{%block title%}
Вопросы и ответы
{%endblock%}
{%block content%}
<div class="wraps hover_shine" id="content">
	<!--title_content-->
	<div class="top_inner_block_wrapper maxwidth-theme">
		<div class="page-top-wrapper grey v3">
			<section class="page-top maxwidth-theme ">
				<div class="page-top-main">
					<h1 id="pagetitle">Вопросы и ответы</h1>
				</div>
				<div id="navigation">
					<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
						<div class="bx-breadcrumb-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope=""
							itemtype="http://schema.org/ListItem">
							<a href="/info/" title="Справочная информация" itemprop="item">
								<span itemprop="name">Справочная информация</span>
								<meta itemprop="position" content="1">
							</a>
						</div>
						<span class="separator">-</span>
						<span class="" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
							<link href="info/faq/" itemprop="item">
							<span>
								<span itemprop="name">Вопрос-ответ</span>
								<meta itemprop="position" content="2">
							</span>
						</span>
					</div>
				</div>
			</section>
		</div>
	</div>
	<!--end-title_content-->

	<div class="wrapper_inner ">

		<div class="right_block  wide_">
			<div class="middle ">
				<div class="container">
					<div>В данном разделе приведены ответа на часто задаваемые вопросы посетителей Вашего будущего
						сайта. Использование данного раздела позволит сократить нагрузку на операторов и повысить
						удовлетворенность ваших клиентов.&nbsp;</div>
					<div>
						<br>
					</div>
					<div class="item-views accordion accordion-type-block with_tabs image_left faq">

						<div class="tabs">
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab"
										href="/info/faq/#bx_3218110189_4995">Вопросы о
										доставке</a></li>
							</ul>

							<div class="tab-content">
								<div id="bx_3218110189_4995" class="tab-pane active">


									<div class="accordion-type-1">
										<div class="item wti opened" id="bx_3218110189_114769">
											<a class="accordion-head accordion-open" data-toggle="collapse"
												data-parent="#accordion4995"
												href="/info/faq/#accordion114769_4995">
												<span>Возможен ли самовывоз заказанного товара?<i
														class="fa fa-angle-down"></i></span>
											</a>
											<div id="accordion114769_4995" class="panel-collapse in"
												style="height: auto;">
												<div class="accordion-body">
													<div class="row">
														<div class="col-md-12">
															<div class="text">

																<div class="previewtext">
																	<div>
																		<p>Вы можете самостоятельно забрать заказанные
																			товары в наших магазинах. </p>
																	</div>

																	<div>
																	</div>
																</div>


															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>



									<div class="accordion-type-1">
										<div class="item wti opened" id="bx_3218110189_114768">
											<a class="accordion-head accordion-open" data-toggle="collapse"
												data-parent="#accordion4995"
												href="/info/faq/#accordion114768_4995">
												<span>Как осуществляется доставка в регионы?<i
														class="fa fa-angle-down"></i></span>
											</a>
											<div id="accordion114768_4995" class="panel-collapse in"
												style="height: auto;">
												<div class="accordion-body">
													<div class="row">
														<div class="col-md-12">
															<div class="text">

																<div class="previewtext">
																	<div>
																		<p>Товары нашего магазина доставляют
																			покупателям транспортные компании: Россия
																			— EMS Почта России, СПСР-экспресс, DHL;
																			Белоруссия — M@M; Украина — Новая Почта.
																		</p>
																	</div>

																	<div>
																	</div>
																</div>


															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>


									<div class="accordion-type-1">
										<div class="item wti opened" id="bx_3218110189_114767">
											<a class="accordion-head accordion-open" data-toggle="collapse"
												data-parent="#accordion4995"
												href="https://nippononline.ru/info/faq/#accordion114767_4995">
												<span>Как расчитать стоимость доставки в Магадан?<i
														class="fa fa-angle-down"></i></span>
											</a>
											<div id="accordion114767_4995" class="panel-collapse in"
												style="height: auto;">
												<div class="accordion-body">
													<div class="row">
														<div class="col-md-12">
															<div class="text">

																<div class="previewtext">
																	<div>
																		Для точного расчета стоимости доставки вашего
																		заказа обращайтесь к операторам call-центра
																		или задайте вопрос через онлайн-консультанта.
																	</div>

																	<div>
																	</div>
																</div>


															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
					<table class="order-block">
						<tbody>
							<tr>
								<td class="col-md-9 col-sm-8 col-xs-7 valign">
									<div class="text">
										<h5>Не нашли ответа на свой вопрос?</h5>
										Свяжитесь с нами, и мы предоставим необходимую информацию.
									</div>
								</td>
								<td class="col-md-3 col-sm-4 col-xs-5 valign">
									<div class="btns">
										<span class="btn btn-default btn-lg" data-event="jqm" data-param-form_id="ASK"
											data-name="question"><span>Задать вопрос</span></span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
		<div class="left_block">
			<ul class="left_menu">
				<li class="  item ">
					<a class="icons_fa" href="{%url 'blog'%}">
						<span>Блог</span>
					</a>
				</li>
				<li class=" current   item ">
					<a class="icons_fa" href="/info/faq/">
						<span>Вопрос-ответ</span>
					</a>
				</li>
				<li class="  item ">
					<a class="icons_fa" href="{%url 'brands'%}">
						<span>Производители</span>
					</a>
				</li>
			</ul>
			{%include 'sidebar.html'%}
		</div>
	</div>
</div>

{%endblock%}
