{%extends 'base.html'%}
{%block title%}
Франшиза
{%endblock%}
{%block content%}
<div class="wraps hover_shine" id="content">
	<!--title_content-->
	<div class="top_inner_block_wrapper maxwidth-theme">
		<div class="page-top-wrapper grey v3">
			<section class="page-top maxwidth-theme ">
				<div class="page-top-main">
					<h1 id="pagetitle">Франшиза</h1>
				</div>
				<div id="navigation">
					<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList"><span class=""
							itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
							<link href="/franchise/" itemprop="item"><span><span
									itemprop="name">Франшиза</span>
								<meta itemprop="position" content="1"></span></span></div>
				</div>
			</section>
		</div>
	</div>
	<!--end-title_content-->

	<div class="wrapper_inner ">

		<div class="right_block  wide_">
			<div class="middle ">
				<div class="container">
					<h2>
						Стать Франчайзи: </h2>
					<p align="center" style="text-align: left;">
						Приобретая франшизу, партнёр Ниппон становится владельцем готового, проверенного временем
						бизнеса, приобретает возможность работать под патронажем лидера российского рынка розничной
						торговли продуктов из Японии и получает консалтинговую поддержку.
					</p>
					<p>
						По условиям&nbsp; франчайзинга Ниппон передаёт партнёрам технологию ведения розничного бизнеса
						и оказывает ряд услуг: работает с производителями, поставляет товар, организует рекламные
						кампании и др.
					</p>
					<p>
						Франчайзи Ниппон могут стать предприниматели, владеющие на правах собственности или
						долгосрочной аренды торговыми помещениями, а также частные инвесторы, желающие вложить деньги
						в доходные розничные проекты. Открытие магазинов пока возможно только в регионах присутствия
						магазинов Ниппон.
					</p>
					<h2>Конкурентные преимущества франчайзи Ниппон</h2>
					<p>
						·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Высокая коммерческая выгода от реализации
						проекта.
					</p>
					<p>
						·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Единая логистическая система поставок.
					</p>
					<p>
						·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Использование отлаженных технологий
						построения розничного бизнеса, программного обеспечения и товарного знака розничной сети.
					</p>
					<p>
						·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Реализация товаров и услуг высокого качества
						по конкурентоспособным ценам.
					</p>
					<h2><span style="color: #ff0000;"><b><span style="font-family: Georgia, serif;">&nbsp;В данный
									момент по нашей франшизе успешно работает магазин в городе
									Альметьевск.</span></b></span></h2>
					<div>
						<br>
					</div>
					<div>
						<i><br>
						</i>
					</div>
					<div>
						<b>Японский супермаркет "Ниппон" в г.Альметьевск можно найти по адресу:</b><br>
						Габдуллы Тукая проспект, 56&nbsp;
					</div>
					<div>
					</div>
					<div>
						<i>⏳ Время работы: 10.00 - 20.00, ежедневно <br>
						</i>
					</div>
					<div>
						<i>Телефон: +7 (987) 233-20-20&nbsp;</i><br>
					</div>
					<div>
					</div>
					<div>
						<i>Вконтакте: nipponalmet&nbsp;</i><br>
					</div>
					<div>
					</div>
					<div>
						<i>Instagram: nippon_almet <br>
						</i>
					</div>
					<div>
						<i>Facebook: nipponalmet/</i>
					</div>
					<br>
				</div>
			</div>
		</div>
		<div class="left_block">
			{%include 'sidebar.html'%}
		</div>
	</div>
</div>

{%endblock%}