{%extends 'base.html'%}
{%block title%}
Помощь
{%endblock%}
{%block content%}
<div class="wraps hover_shine" id="content">
	<!--title_content-->
	<div class="top_inner_block_wrapper maxwidth-theme">
		<div class="page-top-wrapper grey v3">
			<section class="page-top maxwidth-theme ">
				<div class="page-top-main">
					<h1 id="pagetitle">Помощь</h1>
				</div>
				<div id="navigation">
					<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
						<span class="" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
							<link href="/help/" itemprop="item">
							<span>
								<span itemprop="name">Помощь</span>
								<meta itemprop="position" content="1">
							</span>
						</span>
					</div>
				</div>
			</section>
		</div>
	</div>
	<!--end-title_content-->

	<div class="wrapper_inner ">

		<div class="right_block  wide_">
			<div class="middle ">
				<div class="container">
					<h2 class="no-top-space">Как оформить заказ</h2>
					<br>
					<h3>Оформление заказа в стандартном режиме</h3>
					<p>
						Процедура покупки товара в нашем Интернет-магазине очень проста и состоит из нескольких шагов.
					</p>
					<h3>1. Оформление заказа</h3>
					<p>
						После выбора товара нажмите кнопку <b>В корзину</b> — товар добавится в вашу корзину.
					</p>
					<p>
						Далее, если вы закончили выбирать товар, нажмите кнопку <b>ваша корзина</b>.
					</p>
					<p>
						На странице <b>ваша корзина</b> будут перечислены все выбранные вами товары.
					</p>
					<p>
						В поле <b>Количество</b> вы можете изменить количество товара для покупки. После изменения
						количества товара необходимо нажать кнопку <b>Пересчитать</b> для пересчета итоговой суммы
						заказа.
					</p>
					<p>
						В колонке <b>Действия</b> над каждым товаром можно произвести следующие действия: либо
						<b>удалить</b> товар из корзины, либо <b>отложить</b> товар на будущее.
					</p>
					<p>
						Также можно ввести код скидки в соответствующее поле.
					</p>
					<h3>2. Оформление и подтверждение заказа</h3>
					<p>
						После ввода необходимой информации о доставке товара (ФИО получателя, адрес доставки,
						контактные данные, вариант доставки, способ оплаты и т.д) для оформления заказа вам нужно
						нажать кнопку <b>Оформить заказ</b>.
					</p>
					<p>
						Копия заказа будет выслана на ваш e-mail, указанный при оформлении заказа.
					</p>
					<p>
						<b>Внимание!</b> Неправильно указанный номер телефона, неточный или неполный адрес могут
						привести к дополнительной задержке! Пожалуйста, внимательно проверяйте ваши персональные
						данные при регистрации и оформлении заказа.
					</p>
					<p>
						Через некоторое время (обычно в течение часа) после оформления покупки, с вами свяжется наш
						менеджер по контактным данным, указанным при оформлении заказа. С менеджером можно будет
						согласовать точное время и сроки доставки, а также уточнить детали.
					</p>
					<p>
						<b>Примечание</b>: Для постоянных клиентов на сайте магазина есть <b>Регистрация</b>. В своем
						кабинете вы можете просмотреть содержимое корзины, историю своих заказов, а также повторить
						или отказаться от заказа, подписаться на рассылку новостей магазина.
					</p>
					<p>
					</p>
					<p style="text-align: center;">
						<span
							style="font-family: &quot;Arial Black&quot;, Gadget; font-size: 16pt; color: #ff0000;">Уважаемые
							покупатели!&nbsp;Средство индивидуальной защиты здоровья Toamit Virus Shut Out
							и&nbsp;</span><span
							style="font-family: &quot;Arial Black&quot;, Gadget; font-size: 16pt; color: #ff0000; font-weight: bold;">Многоразовая
							тканевая защитная маска -&nbsp; не являются нашим основным товаром, добавление этих
							позиций к товару возможно к основному заказу в нашем магазине от 1500 рублей.</span>
					</p>
					<p>
					</p>
					<p>
					</p>
					<h3>3. Оплата и цены</h3>
					<p>
						Цены, указанные на сайте, являются окончательными и не требуют доплат при стандартных условиях
						поставки. Все налоги включены в стоимость товара.
					</p>
					<p>
						<b>Внимание!</b> Для каждого отдельного заказа возможен только один способ оплаты на ваш
						выбор. Оплата заказа по частям различными способами невозможна.
					</p>
					<p>
						Возможные способы оплаты:
					</p>
					<ul>
						<li><b>Наличный расчет</b>. <br>
							Оплата производится наличными курьеру при доставке или в магазине при самовывозе. Вместе с
							товаром передается товарный и кассовый чеки, а также гарантийный талон.</li>
						<li><b>Оплата через Робокассу</b>. <br>
							<br>
						</li>
					</ul>
					<p>
					</p>
				</div>
			</div>
		</div>
		<div class="left_block">
			<ul class="left_menu">
				<li class="  item ">
					<a class="icons_fa" href="/help/delivery/">
						<span>Условия доставки</span>
					</a>
				</li>
				<li class="  item ">
					<a class="icons_fa" href="/help/exchange-and-return">
						<span>Обмен и Возврат</span>
					</a>
				</li>
			</ul>
			{%include 'sidebar.html'%}
		</div>
	</div>
</div>
{%endblock%}