{%extends 'base.html'%}
{%load static%}
{%block title%}
Подарочные наборы
{%endblock%}
{%block content%}
<div class="wraps hover_shine" id="content">
	<!--title_content-->
	<div class="top_inner_block_wrapper maxwidth-theme">
		<div class="page-top-wrapper grey v3">
			<section class="page-top maxwidth-theme ">
				<div class="page-top-main">
					<div class="line_block share top ">
					</div>
					<h1 id="pagetitle" class="shares">Подарочные наборы</h1>
				</div>
				<div id="navigation">
					<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
						<div class="bx-breadcrumb-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope=""
							itemtype="http://schema.org/ListItem"><a href="/services/"
								title="Услуги" itemprop="item"><span itemprop="name">Услуги</span>
								<meta itemprop="position" content="1"></a></div><span class="separator">-</span><span
							class="" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
							<link href="/services/podarochnye-nabory/" itemprop="item">
							<span><span itemprop="name">Подарочные наборы</span>
								<meta itemprop="position" content="2"></span></span>
					</div>
				</div>
			</section>
		</div>
	</div>
	<!--end-title_content-->

	<div class="wrapper_inner ">

		<div class="right_block  wide_">
			<div class="middle ">
				<div class="container">
					<div class="detail services">

						<div class="introtext_wrapper">
							<div class="introtext">
								<h2>Подарочные наборы на заказ&nbsp;</h2>
							</div>
						</div>



						<div class="content">
							<div>
								<p>
									<span style="font-size: 14pt;"><b>Не знаете, что подарить? Мы подскажем и поможем
											Вам выбрать!</b> </span>
								</p>
								<span style="font-size: 14pt;"> </span>
								<p>
									<span style="font-size: 14pt;">
										Дорогие друзья! В нашем интернет-магазине вы можете заказать индивидуальные и
										уникальные подарочные наборы. Мы соберем их для Вас с учетом всех Ваших
										пожеланий, и организуем доставку. </span>
								</p>
								<span style="font-size: 14pt;"> </span>
								<p>
									<span style="font-size: 14pt;">
										Праздник всегда ассоциируется с чем-то приятным, сладким и вкусным. У нас
										огромный выбор самого вкусного и необычного из Японии, каждый кто получит в
										подарок такой набор, непременно, останется доволен.&nbsp;Яркий, нарядно
										упакованный презент, собравший в себе лучшие Японскую продукцию никого не
										оставить равнодушным! Ведь каждый набор собирается и упаковывается
										индивидуально под нужды и пожелания клиента!&nbsp;</span>
								</p>
								<p>
									&nbsp; &nbsp;<img data-lazyload="" class=" lazyloaded" width="312"
										alt="964e8b1ad69c65a6916b805182d6f539.jpg"
										src="{% static 'img/pages/41f4705db9421f4419ac7700bb14ca1f.jpg'%}"
										height="392" title="964e8b1ad69c65a6916b805182d6f539.jpg">&nbsp;&nbsp; &nbsp;
									&nbsp;<img data-lazyload="" class=" lazyloaded" width="324"
										alt="WhatsApp Image 2020-04-09 at 12.56.36.jpeg"
										src="{% static 'img/pages/d037a4efce345ecdb0c1e8a1faf203cc.jpeg'%}"
										data-src="{% static 'img/pages/d037a4efce345ecdb0c1e8a1faf203cc.jpeg'%}"
										height="392" title="WhatsApp Image 2020-04-09 at 12.56.36.jpeg">&nbsp; &nbsp;
									&nbsp;&nbsp;<img data-lazyload="" class=" lazyloaded" width="312"
										alt="ada325b9a687ec3b91c720b797fd39ac.jpg"
										src="{% static 'img/pages/aaa1ed802df169da1003d2aa95dc3f80.jpg'%}"
										data-src="{% static 'img/pages/aaa1ed802df169da1003d2aa95dc3f80.jpg'%}"
										height="392" title="ada325b9a687ec3b91c720b797fd39ac.jpg">
								</p>
								<p>
									<span style="font-size: 14pt;">Сделайте приятно своим родным и близким, удивите их
										необычным и оригинальным подарком, собранным специально для них! Оставьте
										заявку и наш специалист проконсультирует Вас, учтет все ваши рекомендации и,
										если это будет нужно, предложит варианты, касательно того, что положить в
										набор.</span>
								</p>
								<br>
							</div>
							<p>
							</p>
							<p>
							</p>
						</div>


						<table class="order-block">
							<tbody>
								<tr>
									<td class="col-md-9 col-sm-8 col-xs-7 valign">
										<div class="text">
											Оформите заявку на сайте, мы свяжемся с вами в ближайшее время и ответим
											на все интересующие вопросы. </div>
									</td>
									<td class="col-md-3 col-sm-4 col-xs-5 valign">
										<div class="btns">
											<span class="btn btn-default btn-lg animate-load" data-event="jqm"
												data-param-form_id="SERVICES" data-name="order_services"
												data-autoload-service="Подарочные наборы"
												data-autoload-project="Подарочные наборы"><span>Заказать
													услугу</span></span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>







					</div>

					<div style="clear:both"></div>
					<hr class="bottoms">
					<div class="row">
						<div class="col-md-6 share">
							<div class="line_block">
							</div>
						</div>
						<div class="col-md-6">
							<a class="back-url url-block" href="/services/"><i
									class="fa fa-angle-left"></i><span>Назад к списку</span></a>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="left_block">
			<ul class="left_menu">
				<li class="  item ">
					<a class="icons_fa" href="/services/optovoe-napravlenie/">
						<span>Оптовое направление</span>
					</a>
				</li>
				<li class=" current   item ">
					<a class="icons_fa" href="/services/podarochnye-nabory/">
						<span>Подарочные наборы</span>
					</a>
				</li>
				<li class="  item ">
					<a class="icons_fa" href="/services/torgovoe-oborudovanie/">
						<span>Торговое оборудование</span>
					</a>
				</li>
				<li class="  item ">
					<a class="icons_fa" href="/services/logisticheskie-uslugi-iz-yaponii/">
						<span>Логистические услуги из Японии</span>
					</a>
				</li>
			</ul>


			<div class="ask_a_question">
				<div class="inner">
					<div class="text-block">
						Наши специалисты ответят на любой интересующий вопрос по услуге </div>
				</div>
				<div class="outer">
					<span><span class="btn btn-default btn-lg white animate-load" data-event="jqm"
							data-param-form_id="ASK" data-name="question"><span>Задать вопрос</span></span></span>
				</div>
			</div>



			{%include 'sidebar.html'%}
		</div>
	</div>
</div>

{%endblock%}