{%extends 'base.html'%}
{%block title%}
Акции
{%endblock%}
{%block content%}
<div class="top_inner_block_wrapper maxwidth-theme">
	<div class="page-top-wrapper grey v3">
		<section class="page-top maxwidth-theme ">
			<div class="page-top-main">
				<h1 id="pagetitle">Акции</h1>
			</div>
			<div id="navigation">
				<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList"><span class=""
						itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
						<link href="/sale/" itemprop="item"><span><span
								itemprop="name">Акции</span>
							<meta itemprop="position" content="1"></span></span></div>
			</div>
		</section>
	</div>
</div>
<!--end-title_content-->

<div class="wrapper_inner wide_page">

	<div class="middle ">
		<div class="container">
			<div class="maxwidth-theme">
				<div class="text_before_items">
					<i><span style="font-size: 15pt;"><span style="font-size: 14pt;">
								<p style="text-align: center;">
									<span style="font-size: 20pt;"><b>Скидочные карты на интернет-заказы не
											распространяются!</b></span>
								</p>
							</span></span></i>
					<p style="text-align: center;">
						<br>
						<i><span style="font-size: 15pt;"><span style="font-size: 14pt;">Для того, чтобы получить
									скидку необходимо сделать покупки в наших розничных магазинах на
									сумму:</span><br>
							</span></i><br>
						<span style="font-size: 15pt;"> </span><i><span style="font-size: 15pt;"> <span
									style="font-size: 14pt;">- от </span><b><span style="font-size: 14pt;">3
										000</span></b><span style="font-size: 14pt;"> </span><b><span
										style="font-size: 14pt;">рублей</span></b><span style="font-size: 14pt;"> -
									скидка на последующие покупки</span> <b><span
										style="font-size: 16pt;">3</span></b><b><span
										style="font-size: 16pt;">%</span></b></span></i><br>
						<span style="font-size: 15pt;"> </span><i><span style="font-size: 15pt;"> <span
									style="font-size: 14pt;">- от </span><b><span style="font-size: 14pt;">5
										000</span></b><span style="font-size: 14pt;"> </span><b><span
										style="font-size: 14pt;">рублей</span></b><span style="font-size: 14pt;"> -
									скидка на последующие покупки</span> <b><span
										style="font-size: 16pt;">5%</span></b></span></i><br>
						<span style="font-size: 15pt;"> </span><i><span style="font-size: 15pt;"> <span
									style="font-size: 14pt;">- от </span><b><span style="font-size: 14pt;">10
										000</span></b><span style="font-size: 14pt;"> </span><b><span
										style="font-size: 14pt;">рублей</span></b><span style="font-size: 14pt;"> -
									скидка на последующие покупки</span> <b><span
										style="font-size: 16pt;">10%</span><br>
								</b></span></i><br>
						<i>*акция действует только в розничных магазинах</i><br>
					</p>
					<hr class="long">
				</div>

				<div class="alert alert-warning">Список элементов пуст</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}