{%extends 'base.html'%}
{%load static%}
{%block title%}
Услуги
{%endblock%}
{%block content%}
<div class="wraps hover_shine" id="content">
	<!--title_content-->
	<div class="top_inner_block_wrapper maxwidth-theme">
		<div class="page-top-wrapper grey v3">
			<section class="page-top maxwidth-theme ">
				<div class="page-top-main">
					<h1 id="pagetitle">Услуги</h1>
				</div>
				<div id="navigation">
					<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
						<span class="" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
							<link href="/services/" itemprop="item">
							<span>
								<span itemprop="name">Услуги</span>
								<meta itemprop="position" content="1">
							</span>
						</span>
					</div>
				</div>
			</section>
		</div>
	</div>
	<!--end-title_content-->

	<div class="wrapper_inner ">

		<div class="right_block  wide_">
			<div class="middle ">
				<div class="container">
					<div class="text_before_items">
						<p>
							Наша компания готова организовать вам "под ключ" логистические услуги из Японии!<br>
						</p>
						<hr class="long">
					</div>


					<div class="item-views list list-type-block wide_img image_left services">


						<div class="items row">
							<div class="col-md-12">
								<div class="item noborder wti clearfix" id="bx_651765591_114967">
									<div class="body-info">
										<div class="title">
											<a href="/services/optovoe-napravlenie/"
												class="dark-color"> Оптовое направление </a> </div>



										<div class="previewtext">
											<p>Оптовый отдел Японского супермаркета Ниппон!<br>
											</p>
										</div>


										<div class="link-block-more">
											<a href="/services/optovoe-napravlenie/"
												class="btn-inline sm rounded black">Подробнее<i
													class="fa fa-angle-right"></i></a>
										</div>
									</div>
								</div>
								<hr>
							</div>
							<div class="col-md-12">
								<div class="item noborder wti clearfix" id="bx_651765591_114964">
									<div class="body-info">
										<div class="title">
											<a href="/services/podarochnye-nabory/"
												class="dark-color"> Подарочные наборы </a> </div>



										<div class="previewtext">
											<h2>Подарочные наборы на заказ&nbsp;</h2>
										</div>


										<div class="link-block-more">
											<a href="/services/podarochnye-nabory/"
												class="btn-inline sm rounded black">Подробнее<i
													class="fa fa-angle-right"></i></a>
										</div>
									</div>
								</div>
								<hr>
							</div>
							<div class="col-md-12">
								<div class="item noborder clearfix" id="bx_651765591_114963">
									<div class="image shine">
										<a href="/services/torgovoe-oborudovanie/">
											<img data-lazyload=""
												src="{% static 'img/pages/4a8d4e63fe69ea93bee873df635fbc1e.jpg'%}"
												alt="Торговое оборудование" title="Торговое оборудование"
												class="img-responsive ls-is-cached lazyloaded">
										</a>
									</div>
									<div class="body-info">
										<div class="title">
											<a href="/services/torgovoe-oborudovanie/"
												class="dark-color"> Торговое оборудование </a> </div>



										<div class="previewtext">
											<p>Фирменные полки Ниппон!<br>
												<br>
												Друзья, рады сообщить что Японский супермаркет НИППОН предлагает
												фирменые полки для использования в Ваших магазинах!<br>
												<br>
											</p>
										</div>


										<div class="link-block-more">
											<a href="/services/torgovoe-oborudovanie/"
												class="btn-inline sm rounded black">Подробнее<i
													class="fa fa-angle-right"></i></a>
										</div>
									</div>
								</div>
								<hr>
							</div>
							<div class="col-md-12">
								<div class="item noborder clearfix" id="bx_651765591_114962">
									<div class="image shine">
										<a href="/services/logisticheskie-uslugi-iz-yaponii/">
											<img data-lazyload=""
												src="{% static 'img/pages/8fc919528cf25dd62d2d469b617385f8.jpg'%}"
												alt="Логистические услуги из Японии"
												title="Логистические услуги из Японии"
												class="lazyload img-responsive">
										</a>
									</div>
									<div class="body-info">
										<div class="title">
											<a href="/services/logisticheskie-uslugi-iz-yaponii/"
												class="dark-color"> Логистические услуги из Японии </a> </div>



										<div class="previewtext">
											<p>Транспортировка грузов из удаленных стран требует предельной точности
												на каждом этапе. И в данном аспекте доставка из Японии является
												наиболее ответственным мероприятием, поскольку это островное
												государство со специфическим для европейца менталитетом и достаточно
												сложным законодательством. Наша компания — это оптимальный партнер для
												обеспечения японского импорта!<br>
												<br>
												<br>
												<br>
												&nbsp;&nbsp; </p>
										</div>


										<div class="link-block-more">
											<a href="/services/logisticheskie-uslugi-iz-yaponii/"
												class="btn-inline sm rounded black">Подробнее<i
													class="fa fa-angle-right"></i></a>
										</div>
									</div>
								</div>
								<hr>
							</div>
						</div>

						<div class="bottom_nav"></div>
					</div>




				</div>
			</div>
		</div>
		<div class="left_block">
			<ul class="left_menu">
				<li class="  item ">
					<a class="icons_fa" href="/services/optovoe-napravlenie/">
						<span>Оптовое направление</span>
					</a>
				</li>
				<li class="  item ">
					<a class="icons_fa" href="/services/podarochnye-nabory/">
						<span>Подарочные наборы</span>
					</a>
				</li>
				<li class="  item ">
					<a class="icons_fa" href="/services/torgovoe-oborudovanie/">
						<span>Торговое оборудование</span>
					</a>
				</li>
				<li class="  item ">
					<a class="icons_fa" href="/services/logisticheskie-uslugi-iz-yaponii/">
						<span>Логистические услуги из Японии</span>
					</a>
				</li>
			</ul>





			{%include 'sidebar.html'%}
		</div>
	</div>
</div>

{%endblock%}