{%extends 'base.html'%}
{%load static%}
{%block title%}
Торговое оборудование
{%endblock%}
{%block content%}
<div class="wraps hover_shine" id="content">
	<!--title_content-->
	<div class="top_inner_block_wrapper maxwidth-theme">
		<div class="page-top-wrapper grey v3">
			<section class="page-top maxwidth-theme ">
				<div class="page-top-main">
					<div class="line_block share top ">
					</div>
					<h1 id="pagetitle" class="shares">Торговое оборудование</h1>
				</div>
				<div id="navigation">
					<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
						<div class="bx-breadcrumb-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope=""
							itemtype="http://schema.org/ListItem">
							<a href="/services/" title="Услуги" itemprop="item">
								<span itemprop="name">Услуги</span>
								<meta itemprop="position" content="1">
							</a>
						</div>
						<span class="separator">-</span>
						<span class="" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
							<link href="/services/torgovoe-oborudovanie/" itemprop="item">
							<span>
								<span itemprop="name">Торговое оборудование</span>
								<meta itemprop="position" content="2">
							</span>
						</span>
					</div>
				</div>
			</section>
		</div>
	</div>
	<!--end-title_content-->

	<div class="wrapper_inner ">

		<div class="right_block  wide_">
			<div class="middle ">
				<div class="container">
					<div class="detail services">

						<div class="detailimage image-wide">
							<a href="{% static 'img/pages/f5671c7b0db7f33478e4bca676a81961.jpg'%}"
								class="fancy" title="Торговое оборудование">
								<img data-lazyload=""
									src="{% static 'img/pages/f5671c7b0db7f33478e4bca676a81961.jpg'%}"
									data-src="{% static 'img/pages/f5671c7b0db7f33478e4bca676a81961.jpg'%}"
									class="img-responsive lazyloaded" title="Торговое оборудование"
									alt="Торговое оборудование"></a></div>

						<div class="introtext_wrapper">
							<div class="introtext">
								<p>Фирменные полки Ниппон!<br>
									<br>
									Друзья, рады сообщить что Японский супермаркет НИППОН предлагает фирменые полки
									для использования в Ваших магазинах!<br>
									<br>
								</p>
							</div>
						</div>



						<div class="content">
							<p>Преимущества полок Ниппон:<br>
								<br>
								• Позволят сэкономить место в Вашем магазине.<br>
								• Помощь в выборе ассортимента.<br>
								• Готовые решения по заполнению полок.<br>
								• Ротация товаров.<br>
								• Товарная поддержка.</p>
						</div>


						<table class="order-block">
							<tbody>
								<tr>
									<td class="col-md-9 col-sm-8 col-xs-7 valign">
										<div class="text">
											Оформите заявку на сайте, мы свяжемся с вами в ближайшее время и ответим
											на все интересующие вопросы. </div>
									</td>
									<td class="col-md-3 col-sm-4 col-xs-5 valign">
										<div class="btns">
											<span class="btn btn-default btn-lg animate-load" data-event="jqm"
												data-param-form_id="SERVICES" data-name="order_services"
												data-autoload-service="Торговое оборудование"
												data-autoload-project="Торговое оборудование"><span>Заказать
													услугу</span></span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>


						<div class="wraps galerys-block with-padding">
							<hr>
							<h5>Фотогалерея</h5>
							<div class="small-gallery-block">
								<div class="flexslider unstyled front border small_slider custom_flex top_right color-controls flexslider-init flexslider-control-nav flexslider-direction-nav"
									data-plugin-options="{&quot;animation&quot;: &quot;slide&quot;, &quot;useCSS&quot;: true, &quot;directionNav&quot;: true, &quot;controlNav&quot; :true, &quot;animationLoop&quot;: true, &quot;slideshow&quot;: false, &quot;counts&quot;: [4, 3, 2, 1]}">

									<div class="flex-viewport" style="overflow: hidden; position: relative;">
										<ul class="slides items"
											style="width: 800%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
											<li class="col-md-3 item visible"
												style="width: 256.5px; margin-right: 0px; float: left; display: block; opacity: 1; height: 252px; line-height: 249px;">
												<div>
													<img data-lazyload=""
														src="{% static 'img/pages/f5db01c456158da09f00f334363a1927.jpg' %}"
														data-src="{% static 'img/pages/f5db01c456158da09f00f334363a1927.jpg' %}"
														class="img-responsive inline lazyloaded"
														title="Торговое оборудование" alt="Торговое оборудование"
														draggable="false">
												</div>
												<a href="{% static 'img/pages/f5db01c456158da09f00f334363a1927.jpg' %}"
													class="fancy dark_block_animate" rel="gallery" target="_blank"
													title="Торговое оборудование"></a>
											</li>
											<li class="col-md-3 item visible"
												style="width: 256.5px; margin-right: 0px; float: left; display: block; opacity: 1; height: 252px; line-height: 249px;">
												<div>
													<img data-lazyload=""
														src="{% static 'img/pages/31753bbdcac6c2ae8e23f46525976de7.jpg' %}"
														data-src="/upload/resize_cache/iblock/317/1500_1500_1/31753bbdcac6c2ae8e23f46525976de7.jpg"
														class="img-responsive inline lazyloaded"
														title="Торговое оборудование" alt="Торговое оборудование"
														draggable="false">
												</div>
												<a href="{% static 'img/pages/31753bbdcac6c2ae8e23f46525976de7.jpg"'%}'
													class="fancy dark_block_animate" rel="gallery" target="_blank"
													title="Торговое оборудование"></a>
											</li>
											<li class="col-md-3 item visible"
												style="width: 256.5px; margin-right: 0px; float: left; display: block; opacity: 1; height: 252px; line-height: 249px;">
												<div>
													<img data-lazyload=""
														src="{% static 'img/pages/aaf75d804e81f4584babf3f460f99a52.png'%}"
														data-src="{% static 'img/pages/aaf75d804e81f4584babf3f460f99a52.png'%}"
														class="img-responsive inline lazyloaded"
														title="Торговое оборудование" alt="Торговое оборудование"
														draggable="false">
												</div>
												<a href="{% static 'img/pages/aaf75d804e81f4584babf3f460f99a52.png'%}"
													class="fancy dark_block_animate" rel="gallery" target="_blank"
													title="Торговое оборудование"></a>
											</li>
											<li class="col-md-3 item visible"
												style="width: 256.5px; margin-right: 0px; float: left; display: block; opacity: 1; height: 252px; line-height: 249px;">
												<div>
													<img data-lazyload=""
														src="{% static 'img/pages/68d311e6e003da43c3a55e2b90abadb9.png'%}"
														data-src="{% static 'img/pages/68d311e6e003da43c3a55e2b90abadb9.png'%}"
														class="img-responsive inline lazyloaded"
														title="Торговое оборудование" alt="Торговое оборудование"
														draggable="false">
												</div>
												<a href="{% static 'img/pages/68d311e6e003da43c3a55e2b90abadb9.png'%}"
													class="fancy dark_block_animate" rel="gallery" target="_blank"
													title="Торговое оборудование"></a>
											</li>
										</ul>
									</div>
									<ol class="flex-control-nav flex-control-paging"></ol>
									<ul class="flex-direction-nav">
										<li class="flex-nav-prev flex-disabled"><a class="flex-prev flex-disabled"
												href="/services/torgovoe-oborudovanie/#"
												tabindex="-1">Previous</a></li>
										<li class="flex-nav-next flex-disabled"><a class="flex-next flex-disabled"
												href="/services/torgovoe-oborudovanie/#"
												tabindex="-1">Next</a></li>
									</ul>
								</div>
							</div>
						</div>





					</div>

					<div style="clear:both"></div>
					<hr class="bottoms">
					<div class="row">
						<div class="col-md-6 share">
							<div class="line_block">
							</div>
						</div>
						<div class="col-md-6">
							<a class="back-url url-block" href="/services/"><i
									class="fa fa-angle-left"></i><span>Назад к списку</span></a>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="left_block">
			<ul class="left_menu">
				<li class="  item ">
					<a class="icons_fa" href="/services/optovoe-napravlenie/">
						<span>Оптовое направление</span>
					</a>
				</li>
				<li class="  item ">
					<a class="icons_fa" href="/services/podarochnye-nabory/">
						<span>Подарочные наборы</span>
					</a>
				</li>
				<li class=" current   item ">
					<a class="icons_fa" href="/services/torgovoe-oborudovanie/">
						<span>Торговое оборудование</span>
					</a>
				</li>
				<li class="  item ">
					<a class="icons_fa" href="/services/logisticheskie-uslugi-iz-yaponii/">
						<span>Логистические услуги из Японии</span>
					</a>
				</li>
			</ul>


			<div class="ask_a_question">
				<div class="inner">
					<div class="text-block">
						Наши специалисты ответят на любой интересующий вопрос по услуге </div>
				</div>
				<div class="outer">
					<span><span class="btn btn-default btn-lg white animate-load" data-event="jqm"
							data-param-form_id="ASK" data-name="question"><span>Задать вопрос</span></span></span>
				</div>
			</div>



			{%include 'sidebar.html'%}
		</div>
	</div>
	</div>

{%endblock%}