<ul class="left_menu">
	<li class="  item ">
		<a class="icons_fa" href="{%url 'personal_main'%}">
			<span>Мой кабинет</span>
		</a>
	</li>
	<li class="  item ">
		<a class="icons_fa" href="{%url 'orders'%}">
			<span>Текущие заказы</span>
		</a>
	</li>
	<li class="  item ">
		<a class="icons_fa" href="{%url 'amount'%}">
			<span>Личный счет</span>
		</a>
	</li>
	<li class="  item ">
		<a class="icons_fa" href="{%url 'private'%}">
			<span>Личные данные</span>
		</a>
	</li>
	<li class="  item ">
		<a class="icons_fa" href="{%url 'change_pass'%}">
			<span>Сменить пароль</span>
		</a>
	</li>
	<li class="  item ">
		<a class="icons_fa" href="/personal/orders/?filter_history=Y">
			<span>История заказов</span>
		</a>
	</li>
	<li class="  item ">
		<a class="icons_fa" href="{%url 'order_profiles'%}">
			<span>Профили заказов</span>
		</a>
	</li>
	<li class="  item ">
		<a class="icons_fa" href="{%url 'basket'%}">
			<span>Корзина</span>
		</a>
	</li>
	<li class="  item ">
		<a class="icons_fa" href="{%url 'subscribe'%}">
			<span>Подписки</span>
		</a>
	</li>
	<li class="  item ">
		<a class="icons_fa" href="{%url 'contacts'%}">
			<span>Контакты</span>
		</a>
	</li>
	<li class="current  item exit">
		<a class="icons_fa" href="{%url 'logout_personal'%}">
			<span>Выйти</span>
		</a>
	</li>
</ul>
