<tr>
	<td><b>{{order.id}}</b></td>
	<td>{{order.created}}</td>
	<td>Профиль {{order.created|date}}</td>
	<td>Физическое лицо</td>
	<td class="sale-personal-profile-list-actions">
		<a class="sale-personal-profile-list-change-button" title="Изменить профиль"
			href="https://nippononline.ru/personal/profiles/44097">Изменить </a>
		<span class="sale-personal-profile-list-border"></span>
		<a class="sale-personal-profile-list-close-button" title="Удалить профиль"
			href="javascript:if(confirm(&#39;Вы уверены, что хотите удалить этот профиль?&#39;)) window.location=&#39;/personal/profiles/?del_id=44097&amp;sessid=32684a9ce4ef6dbe594acbaad4beb11c&#39;">
			Удалить </a>
	</td>
</tr>