{%extends 'base.html'%}

{%block title%}
	Блог
{%endblock%}

{%block content%}
<div class="top_inner_block_wrapper maxwidth-theme">
	<div class="page-top-wrapper grey v3">
		<section class="page-top maxwidth-theme ">
			<div class="page-top-main">
				<a class="rss" href="https://nippononline.ru/blog/rss/" title="rss" target="_blank">RSS</a>
				<h1 id="pagetitle">Блог</h1>
			</div>
			<div id="navigation">
				<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
					<span class=""
						itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
						<link href="{%url 'blog'%}" itemprop="item">
						<span>
							<span itemprop="name">Блог</span>
							<meta itemprop="position" content="1">
						</span>
					</span>
				</div>
			</div>
		</section>
	</div>
</div>
<!--end-title_content-->

<div class="wrapper_inner wide_page">

	<div class="middle ">
		<div class="container">
			<div class="maxwidth-theme">
				<div class="row">
					<div class="col-md-9 col-sm-12 col-xs-12 content-md ">
						<div class="text_before_items">
						</div>

						

						<div class="banners-small blog">
							<div class="items row">
							{%for story in stories%}
								{%if forloop.counter < 4%}
									{%include 'blog/includes/story_card.html'%}
								{%endif%}
							{%endfor%}
							</div>
							<div class="items row">
							{%for story in stories%}
								{%if forloop.counter > 3%}
									{%include 'blog/includes/story_card.html'%}
								{%endif%}
							{%endfor%}
							</div>
							{%if is_paginated%}
								<div class="bottom_nav block">

									<div class="module-pagination">
										<div class="nums">
											<ul class="flex-direction-nav">
												{%if prev_url%}

												<li class="flex-nav-prev "><a href="?{{prev_url}}" class="flex-prev"></a></li>

												{%endif%}


												{%if next_url%}

												<li class="flex-nav-next "><a href="?{{next_url}}" class="flex-next"></a></li>
												{%endif%}	

											</ul>

											{%for n in stories.paginator.page_range%}

												{%if stories.number == n %}

													<span class="cur">{{ stories.number }}</span>

												{% elif n > stories.number|add:-3 and n < stories.number|add:3 %}

													<a href="?PAGEN_1={{ n }}" class="dark_link">{{ n }}</a>
													
												{%endif%}


											{%endfor%}

										</div>
									</div>
								</div>
							{%endif%}
						</div>

					</div>
					<div class="col-md-3 col-sm-3 hidden-xs hidden-sm right-menu-md">
						<div class="sidearea">
							{%include 'blog/includes/sidebar.html'%}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}