{%extends 'base.html'%}
{%block title%}
Мои заказы
{%endblock%}
{%block content%}
<div class="wraps hover_shine" id="content">
	<!--title_content-->
	<div class="top_inner_block_wrapper maxwidth-theme">
		<div class="page-top-wrapper grey v3">
			<section class="page-top maxwidth-theme ">
				<div class="page-top-main">
					<h1 id="pagetitle">Мои заказы</h1>
				</div>
				<div id="navigation">
					<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
						<div class="bx-breadcrumb-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope=""
							itemtype="http://schema.org/ListItem"><a href="{%url 'personal_main'%}"
								title="Личный кабинет" itemprop="item"><span itemprop="name">Личный кабинет</span>
								<meta itemprop="position" content="1"></a></div><span class="separator">-</span><span
							class="" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
							<link href="{%url 'orders'%}" itemprop="item"><span><span
									itemprop="name">Мои заказы</span>
								<meta itemprop="position" content="2"></span></span>
					</div>
				</div>
			</section>
		</div>
	</div>
	<!--end-title_content-->

	<div class="wrapper_inner ">

		<div class="right_block  wide_">
			<div class="middle ">
				<div class="container">
					<div class="personal_wrapper">
						<div class="orders_wrapper">
							<div class="row col-md-12 col-sm-12">
								<a class="sale-order-history-link"
									href="https://nippononline.ru/personal/orders/?filter_history=Y">
									Посмотреть историю заказов </a>
							</div>
							<h1 class="sale-order-title">
								Заказы в статусе «Ожидает обработки»
							</h1>
							{%for order in orders%}
								{%include 'personal/includes/order_card.html'%}
							{%endfor%}
							<div class="clearfix"></div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="left_block">
			{%include 'personal/includes/personal_sidebar.html'%}
			{%include 'sidebar.html'%}
		</div>
	</div>
</div>

{%endblock%}