{% extends 'base.html'%}
{%load static%}
{%block title%}
{{product.name}}
{%endblock%}
{% block content%}
	<div class="wraps hover_shine" id="content">
		{%include 'nipponapp/includes/breadcrumbs.html'%}
		<div class="wrapper_inner front ">
			<div class="right_block  wide_N">
				<div class="middle ">
					<div class="container">
						<div class="catalog_detail detail element_1" itemscope itemtype="http://schema.org/Product">
							<div class="basket_props_block" id="bx_basket_div_{{product.id}}" style="display: none;">
							</div>
							<meta itemprop="name" content="{{product.name}}" />
							<meta itemprop="category" content="{{product.category.alter_name}}" />
							<meta itemprop="description" content="{{product.name}}" />
							<meta itemprop="sku" content="{{product.id}}" />
							<div class="item_main_info noffer show_un_props" id="bx_117848907_30435">
								<div class="img_wrapper swipeignore">
									<div class="stickers">
									{%if product.is_hit%}
										<div>
											<div class="sticker_khit_prodazh">Хит продаж</div>
										</div>
									{%endif%}
									{%if product.is_new%}
										<div>
											<div class="sticker_novinka">Новинка</div>
										</div>
									{%endif%}
									{%if product.is_sovet%}
										<div>
											<div class="sticker_sovetuem">Советуем</div>
										</div>
									{%endif%}
									</div>
									<div class="item_slider big-slider">
										<div class="like_wrapper">
											<div class="like_icons iblock">
												<div class="wish_item text"  data-item="{{product.id}}" data-iblock="2">
													<span class="value" title="Отложить" ><i></i></span>
													<span class="value added" title="В отложенных"><i></i></span>
												</div>
											</div>
										</div>

										<div class="slides">
											<ul>
												{%for image in product.productimage_set.all%}
												<li id="photo-{{forloop.counter0}}" class="{%if forloop.counter0 == 0%}current{%endif%}">
													<link href="{% static image.path %}" itemprop="image"/>
													<a href="{% static image.path%}" data-fancybox-group="item_slider" class="popup_link fancy" title="Фото {{product.name}} от интернет-магазина НИППОН – официального дистрибьютора в России ">
														<img data-lazyload class="lazyload"  src="{% static image.path %}" data-src="{% static image.path %}"   alt="Фото {{product.name}} от интернет-магазина НИППОН" title="Фото {{product.name}} от интернет-магазина НИППОН – официального дистрибьютора в России "/>
														<div class="zoom"></div>
													</a>
												</li>
												{%endfor%}
											</ul>
										</div>
										<div class="wrapp_thumbs xzoom-thumbs">
										{%if product.productimage_set.count > 1%}
										<div class="thumbs flexslider flexslider-init flexslider-direction-nav" id="slider"
											data-plugin-options="{&quot;animation&quot;: &quot;slide&quot;, &quot;selector&quot;: &quot;.slides_block &gt; li&quot;, &quot;directionNav&quot;: true, &quot;itemMargin&quot;:10, &quot;itemWidth&quot;: 54, &quot;controlsContainer&quot;: &quot;.thumbs_navigation&quot;, &quot;controlNav&quot; :false, &quot;animationLoop&quot;: true, &quot;slideshow&quot;: false}"
											style="max-width:246px;">

											{%if product.productimage_set.count > 4%}
											<span class="thumbs_navigation custom_flex">
												<ul class="flex-direction-nav">
													<li class="flex-nav-prev current">
														<a class="flex-prev"
															href="https://nippononline.ru/catalog/tofu_syr/tofu_morinaga_firm_tverdyy_297g/#">Previous</a>
													</li>
													<li class="flex-nav-next"><a class="flex-next"
															href="">Next</a>
													</li>
												</ul>
											</span>
											{%endif%}
											<div class="flex-viewport swiper-container" style="overflow: hidden; position: relative;">
												<ul class="slides_block swiper-wrapper" id="thumbs"
													style="width: 1000%; margin-left: 0px;">
													{%for image in product.productimage_set.all%}
													<li class="{%if forloop.counter0 == 0%}current{%endif%} swiper-slide"
														id="phot-{{forloop.counter0}}"
														data-big_img="{% static image.path %}"
														data-small_img="{% static image.path %}"
														style="width: 54px; margin-right: 10px; float: left; display: block;">
														<span><img data-lazyload="" class="xzoom-gallery lazyloaded" width="50"
																data-xpreview="{% static image.path %}" src="{% static image.path %}"
																data-src="{% static image.path %}" alt="Фото {{product.name}} от интернет-магазина НИППОН" title="Фото {{product.name}} от интернет-магазина НИППОН – официального дистрибьютора в России "
																draggable="false"></span>
													</li>
													{%endfor%}
													
												</ul>
											</div>
										</div>
										{%endif%}
									</div>
									</div>
									<div class="item_slider color-controls flex flexslider" data-plugin-options='{"animation": "slide", "directionNav": false, "controlNav": true, "animationLoop": false, "slideshow": false, "slideshowSpeed": 10000, "animationSpeed": 600}'>
										<ul class="slides">
											{%for image in product.productimage_set.all%}
											<li id="mphoto-0" class="{%if forloop.counter0 == 0%}current{%endif%}">
												<a href="{% static image.path %}" data-fancybox-group="item_slider_flex" class="fancy popup_link" title="Фото {{product.name}} от интернет-магазина НИППОН – официального дистрибьютора в России " >
													<img data-lazyload class="lazyload" src="{% static image.path %}" data-src="{% static image.path %}" alt="Фото {{product.name}} от интернет-магазина НИППОН" title="Фото {{product.name}} от интернет-магазина НИППОН – официального дистрибьютора в России " />
													<div class="zoom"></div>
												</a>
											</li>
											{%endfor%}
										</ul>
									</div>
								</div>
								<div class="right_info">
									<div class="info_item">
										<div class="top_info">
											<div class="rows_block">
												<div class="item_block col-1">
													<div class="article iblock" itemprop="additionalProperty" itemscope itemtype="http://schema.org/PropertyValue" >
														<span class="block_title" itemprop="name">Артикул:</span>
														<span class="value" itemprop="value">{{product.article}}</span>
													</div>
												</div>

											</div>
											<div class="preview_text dotdot">{{product.name}}</div>
											<div class="more_block icons_fa color_link">
												<span>Подробнее</span>
											</div>
										</div>
										<div class="middle_info main_item_wrapper">
											<div id="bxdynamic_qepX1R_start" style="display:none">
											</div>
											<div class="prices_block">
												<div class="cost prices clearfix">
													<div class="price_matrix_block">
														<div class="price_matrix_wrapper ">
															<div class="price" data-currency="RUB" data-value="{{product.price}}">
																<span>
																	<span class="values_wrapper">
																		<span class="price_value">{{product.price}}</span>
																		<span class="price_currency"> руб.</span>
																	</span>
																	<span class="price_measure">/шт</span>
																</span>
															</div>
														</div>
													</div>

													<div class="" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
														<meta itemprop="price" content="{{product.price}}" />
														<meta itemprop="priceCurrency" content="RUB" />
														<link itemprop="availability" href="http://schema.org/InStock" />
														<meta itemprop="url" content="{%url 'product_detail' category=product.category.name index=product.id %}" />
													</div>
												</div>
												<div class="quantity_block_wrapper">
													<div class="p_block">
														<div class="item-stock" id="bx_117848907_30435_store_quantity">
															<span class="icon stock"></span>
															<span class="value">
																<span class='store_view'>{{product.count}}</span>
															</span>
														</div>
													</div>
												</div>
											</div>
											<form id="buy-form" action="{% url 'basket_upd'%}">{% csrf_token %}
												<div class="buy_block">
													<div class="counter_wrapp">
														<div class="counter_block big_basket" data-offers="N" data-item="{{product.id}}" >
															<span class="minus" id="bx_117848907_{{product.id}}_quant_down">-</span>
															<input type="text" class="text" id="bx_117848907_{{product.id}}_quantity" name="quantity" value="1" />
															<span class="plus" id="bx_117848907_{{product.id}}_quant_up" data-max='10'>+</span>
														</div>
														<div id="bx_117848907_{{product.id}}_basket_actions" class="button_block ">
															<!--noindex-->
															<button type='submit' id="btn-to-basket" 
															data-float_ratio="" 
															data-ratio="1" 
															data-bakset_div="bx_basket_div_{{product.id}}" 
															data-props=""
															data-part_props="Y" 
															data-add_props="Y"  
															data-empty_props="Y" 
															data-offers="" 
															data-iblockID="2"  
															data-quantity="1"
															data-value="{{product.price}}" 
															data-currency="RUB" 
															class="btn-lg w_icons to-cart btn btn-default transition_bg animate-load qwert" 
															data-item="{{product.id}}"
															data-id="{{product.id}}" >
																<i></i>
																<span>В корзину</span>
															</button>
															<a rel="nofollow" href="{%url 'basket'%}" class="btn-lg w_icons in-cart btn btn-default transition_bg" data-item="{{product.id}}"  style="display:none;" id='in-basket-btn'>
																<i></i>
																<span>В корзине</span>
															</a>								<!--/noindex-->
														</div>
													</div>
													<div class="wrapp_one_click">
														<span class="btn btn-default white btn-lg type_block transition_bg one_click" data-item="30435" data-iblockID="2" data-quantity="1" onclick="oneClickBuy('30435', '2', this)">
															<span>Купить в 1 клик</span>
														</span>
													</div>
												</div>
											</form>

											<div id="bxdynamic_qepX1R_end" style="display:none"></div>
										</div>
										<div class="element_detail_text wrap_md">
											<div class="price_txt">
												<div class="sharing">
													<div class="">
													</div>
												</div>
												<div class="text">
													Цена действительна только для интернет-магазина и может отличаться от цен в розничных магазинах
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="clearleft"></div>
							</div>
							<div class="tabs_section">
								<div class="tabs">
									<ul class="nav nav-tabs">
										{%if product.dsc%}
											<li class=" active">
												<a href="#descr" data-toggle="tab"><span>Описание</span></a>
											</li>
										{%endif%}
										<li class="product_ask_tab ">
											<a href="#ask" data-toggle="tab"><span>Задать вопрос</span></a>
										</li>
										<li class="stores_tab">
											<a href="#stores" data-toggle="tab"><span>Наличие</span></a>
										</li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane  active" id="descr">
											<div class="title-tab-heading visible-xs">Описание</div>
											<div>
												<div class="detail_text">{{product.dsc|safe}} </div>
											</div>
										</div>
										<div class="tab-pane" id="ask">
											<div class="title-tab-heading visible-xs">Задать вопрос </div>
											<div class="row">
												<div class="col-md-3 hidden-sm text_block">
													Вы можете задать любой интересующий вас вопрос по товару или работе
													магазина.<br><br>
													Наши квалифицированные специалисты обязательно вам помогут. </div>
												<div class="col-md-9 form_block">
													<div id="ask_block_content" class="">
														<div id="comp_82e2bcb8387c15c2295c856859dad92a">
															<!--'start_frame_cache_4enrz3'-->
															<div class="maxwidth-theme">
																<div class="form inline ASK">
																	<!--noindex-->
																	<div class="form_head">
																		<h4>Задать вопрос</h4>
																	</div>

																	<form name="ASK"
																		action="{{product.get_absolute_url}}"
																		method="POST" enctype="multipart/form-data"
																		novalidate="novalidate">
																		{%csrf_token%}
																		<div class="form_body">
																			<div class="row">
																				<div class="col-md-7">
																					<div class="form-control">
																						<label><span>Вопрос&nbsp;<span
																									class="star">*</span></span></label>
																						{{form.message}}
																					</div>
																					<input type="hidden"
																						name="subject"
																						value="{{product.name}}">
																				</div>
																				<div class="col-md-5">
																					<div class="form-control">
																						<label><span>Ваше имя&nbsp;<span
																									class="star">*</span></span></label>
																						{{form.name}} </div>
																					<div class="form-control">
																						<label><span>Телефон&nbsp;<span
																									class="star">*</span></span></label>
																						{{form.phone}} </div>
																					<div class="form-control">
																						<label><span>E-mail</span></label>
																						{{form.email}}
																					</div>
																				</div>
																			</div>
																			<div class="clearboth"></div>
																			<textarea name="nspm"
																				style="display:none;"></textarea>
																			<div class="clearboth"></div>
																		</div>
																		<div class="form_footer">
																			<div class="licence_block filter label_block">
																				<input type="checkbox" id="licenses_inline"
																					checked="" name="licenses_inline"
																					required="" value="Y"
																					aria-required="true">
																				<label for="licenses_inline">
																					Я согласен на <a
																						href="/politics/"
																						target="_blank">обработку персональных
																						данных</a> </label>
																			</div>
																			<input type="submit" class="btn btn-default"
																				value="Отправить" name="web_form_submit">
																			<button type="reset" class="btn btn-default white"
																				value="reset"
																				name="web_form_reset"><span>Сбросить</span></button>
																		</div>
																	</form>
																	<!--/noindex-->
																</div>
															</div>
															<!--'end_frame_cache_4enrz3'-->
															<!--'start_frame_cache_form-block2'-->
															<!--'end_frame_cache_form-block2'-->
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane stores_tab" id="stores">
											<div class="title-tab-heading visible-xs">Наличие</div>
											<div class="stores_wrapp">
												<div id="bxdynamic_lEnm5l_start" style="display:none"></div>		
												<div class="stores_block_wrap">
													{%for count in product.productinmarket_set.all%}
														<div class="stores_block wo_image" style="display: ;">
															<div class="stores_text_wrapp ">
																<div class="main_info">
																	<span>
																		<a class="title_stores" href="{%url 'market_detail' pk=count.market.id%}" data-storehref="/contacts/stores/6/" data-iblockhref=""> {{count.market.address}}</a>
																	</span>
																</div>
															</div>
															<div class="item-stock" >
																{% if count.count == 'Нет в наличии' %}
																	<span class="icon  order"></span>
																{%else%}
																	<span class="icon  stock"></span>
																{%endif%}
																<span class="value">{{count.count}}</span>
															</div>							
														</div>
													{%endfor%}
												</div>
												<div id="bxdynamic_lEnm5l_end" style="display:none"></div>		
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="gifts">
								<div id="bxdynamic_6zLbbW_start" style="display:none"></div>
								<span id="sale_gift_product_2002147939" class="sale_gift_product_container"></span>

								<div id="bxdynamic_6zLbbW_end" style="display:none"></div>
								<div id="bxdynamic_KSBlai_start" style="display:none"></div>
								<div id="bxdynamic_KSBlai_end" style="display:none"></div>
							</div>

							<div id="ask_block_content" class="hidden">
								<div id="comp_00a7a23a169f54b6170ed67bdee284cc">
									<div id="bxdynamic_4enrz3_start" style="display:none"></div>
									<div id="bxdynamic_4enrz3_end" style="display:none"></div>
									<div id="bxdynamic_form-block2_start" style="display:none"></div>
									<div id="bxdynamic_form-block2_end" style="display:none"></div>
								</div>		
							</div>
							<div id="bxdynamic_des_start" style="display:none"></div>
							<div id="bxdynamic_des_end" style="display:none"></div>
						</div>

						<div class="clearfix"></div>
						<div class="bottom_slider specials tab_slider_wrapp">
							<div class="top_blocks">
								<ul class="tabs">
									<li data-code="RECOMENDATION" style="display:none;" class="cur"><span>Рекомендуем</span></li>
									<li class="stretch"></li>
								</ul>
								<ul class="slider_navigation top custom_flex border">
									<li class="tabs_slider_navigation RECOMENDATION_nav cur" data-code="RECOMENDATION"></li>
								</ul>
							</div>
							<ul class="tabs_content">
								<li class="tab RECOMENDATION_wrapp" data-code="RECOMENDATION">
									<div id="bxdynamic_es4Hjc_start" style="display:none"></div>
									<div id="bxdynamic_es4Hjc_end" style="display:none"></div>													
								</li>
							</ul>
						</div>
				</div>
			</div>
		</div>
			 
		{%include 'nipponapp/includes/catalog_menu.html'%}
	</div>
{% endblock%}
